<!--<div class="container">-->
  <!--<div class="d-flex justify-content-center h-100">-->
    <!--<div class="card">-->
      <!--<div class="card-header">-->
        <!--<h3>Login</h3>-->
      <!--</div>-->
      <!--<div class="card-body">-->
        <!--<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">-->
          <!--<div class="input-group form-group">-->
            <!--<div class="input-group-prepend">-->
              <!--<span class="input-group-text"><i class="fas fa-user"></i></span>-->
            <!--</div>-->
            <!--<input type="text" class="form-control" placeholder="username" formControlName="username" id="username">-->
          <!--</div>-->
          <!--<div class="input-group form-group">-->
            <!--<div class="input-group-prepend">-->
              <!--<span class="input-group-text"><i class="fas fa-key"></i></span>-->
            <!--</div>-->
            <!--<input type="password" class="form-control" formControlName="password" placeholder="password" id="pwd">-->
            <!--<div *ngIf="submitted && loginForm.controls.password.errors" class="error">-->
              <!--<div *ngIf="loginForm.controls.password.errors.required">Password is required</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<button class="btn float-right login_btn">Login</button>-->
            <!--<div *ngIf="invalidLogin" class="error">-->
              <!--<div>Invalid credentials.</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</form>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<hr>-->
<div class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 banner-sec">
        <div class="signup__overlay"></div>
        <div class="banner">
          <div id="demo" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <!--<img src="@/assets/images/footer_logo.png" class="img-fluid">-->
                <h1>GROW with Technology</h1>
              </div>
              <div class="carousel-item">
                <!--<img src="@/assets/images/footer_logo.png" class="img-fluid">-->
                <h1>DISCOVER GROWTH</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 login-sec">
        <h2 class="text-center">Login Now</h2>
        <form class="login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="wrap-input100 validate-input">
            <span class="label-input100">Username</span>
            <input type="text" class="input100" placeholder="username" formControlName="username" id="username">
            <!--<span class="focus-input100"></span>-->
          </div>

          <div class="wrap-input100 validate-input">
            <span class="label-input100">Password</span>
            <input type="password" class="input100" formControlName="password" placeholder="password" id="pwd">
            <!--<input class="input100" type="password" name="pass" placeholder="Type your password">-->
            <!--<span class="focus-input100 password"></span>-->
          </div>
          <div *ngIf="submitted && loginForm.controls.username.errors" class="error">
            <div *ngIf="loginForm.controls.username.errors.required">username is required</div>
          </div>
          <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
            <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
          </div>
          <div *ngIf="invalidLogin" class="error">
            <div>Invalid credentials.</div>
          </div>
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <button class="btn btn-primary mr-2">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
