<form class="date-block" [formGroup]="filterForm">
  <div>
    <div id="inputForm">
      <mat-form-field class="filter" floatLabel="never" fxFlex="20%">
        <input matInput type="text" formControlName="computer_id" placeholder="Search Computer Name">
      </mat-form-field>
    </div>
    <div id="inputForm2">
      <mat-form-field>
        <input matInput [matDatepicker]="fromDate" placeholder="From Date" formControlName="fromDate">
        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
        <mat-datepicker #fromDate></mat-datepicker>
      </mat-form-field>
    </div>
    <div id="inputForm3">
      <mat-form-field>
        <input matInput [matDatepicker]="toDate" placeholder="To Date" formControlName="toDate">
        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
        <mat-datepicker #toDate></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</form>
<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="computer_id">
    <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header>
      Computer Name
    </th>
    <td mat-cell *matCellDef="let element">{{element.computer_id}}</td>
  </ng-container>

  <ng-container matColumnDef="note">
    <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header>
      Note
    </th>
    <td mat-cell *matCellDef="let element">{{element.note}}</td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header>
      Date
    </th>
    <td mat-cell *matCellDef="let element">{{element.createdAt | date}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
</table>
<mat-paginator fixed showFirstLastButtons [pageSize]="5" [pageSizeOptions]="[10, 50, 100, 500, 1000]">
</mat-paginator>
<hr>
<!--<table mat-table [dataEmployee]="dataEmployee" matSort>-->
  <!--<ng-container matColumnDef="computer_id">-->
    <!--<th class="header" mat-header-cell *matHeaderCellDef mat-sort-header>-->
      <!--Computer Name-->
    <!--</th>-->
    <!--<td mat-cell *matCellDef="let element">{{element.username}}</td>-->
  <!--</ng-container>-->

  <!--<ng-container matColumnDef="note">-->
    <!--<th class="header" mat-header-cell *matHeaderCellDef mat-sort-header>-->
      <!--Note-->
    <!--</th>-->
    <!--<td mat-cell *matCellDef="let element">{{element.firstName}}</td>-->
  <!--</ng-container>-->

  <!--&lt;!&ndash;<ng-container matColumnDef="createdAt">&ndash;&gt;-->
    <!--&lt;!&ndash;<th class="header" mat-header-cell *matHeaderCellDef mat-sort-header>&ndash;&gt;-->
      <!--&lt;!&ndash;Date&ndash;&gt;-->
    <!--&lt;!&ndash;</th>&ndash;&gt;-->
    <!--&lt;!&ndash;<td mat-cell *matCellDef="let element">{{element.createdAt | date}}</td>&ndash;&gt;-->
  <!--&lt;!&ndash;</ng-container>&ndash;&gt;-->

  <!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
  <!--<tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>-->
<!--</table>-->
<!--<mat-paginator fixed showFirstLastButtons [pageSize]="5" [pageSizeOptions]="[10, 50, 100, 500, 1000]">-->
<!--</mat-paginator>-->
