<app-nav-bar></app-nav-bar>
<div style="width: 80%; margin: 0 auto;padding-top: 50px" *ngFor="let data of [item]">
  <div id="formAdd">
    <p class="h4 mb-4">Detail Employee Page</p>
    <form class="example-form" style="border: 0px solid black">
      <div class="textForm">
        <mat-form-field class="inputFormAdd">
          <mat-label>UserName</mat-label>
          <input type="text" matInput placeholder="UserName" [value]="data.username" [formControl]="UserNameControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="UserNameControl.hasError('required')">
            UserName is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="textForm">
        <mat-form-field class="inputFormAdd">
          <mat-label>FirstName</mat-label>
          <input type="text" matInput placeholder="FirstName" [value]="data.firstName" [formControl]="FirstNameControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="FirstNameControl.hasError('required')">
            FirstName is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="textForm">
        <mat-form-field class="inputFormAdd">
          <mat-label>LastName</mat-label>
          <input type="text" matInput placeholder="LastName" [value]="data.lastName" [formControl]="LastNameControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="LastNameControl.hasError('required')">
            LastName is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="textForm">
        <mat-form-field class="inputFormAdd">
          <mat-label>Email</mat-label>
          <input type="text" matInput placeholder="Email" [value]="data.email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="textForm">
        <mat-form-field class="inputFormAdd">
          <mat-label>BirthDate</mat-label>
          <!--<input matInput [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date" [formControl]="DOBFormControl">-->
          <input matInput [value]="data.birthDate" [formControl]="DOBFormControl">
          <mat-error *ngIf="DOBFormControl.hasError('required')">
            BirthDate is <strong>required</strong>
          </mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="textForm">
        <!--<input currencyMask [(ngModel)]="value" [options]="{ prefix: 'Rp ', decimal: '.', align: 'right'}"/>-->
        <mat-form-field>
          <mat-label>Basic Salary</mat-label>
          <input matInput [value]="data.basicSalary" [formControl]="BasicSalaryFormControl">
          <mat-error *ngIf="BasicSalaryFormControl.hasError('required')">
            Basic Salary is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="textForm">
        <mat-form-field class="inputFormAdd">
          <mat-label>Status</mat-label>
          <input type="text" matInput placeholder="Status" [value]="data.status" [formControl]="StatusControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="StatusControl.hasError('required')">
            Status is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="textForm">
        <mat-form-field>
          <mat-label>Group</mat-label>
          <input type="text" matInput placeholder="Group" [value]="data.group" [formControl]="groupControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="groupControl.hasError('required')">Please choose an group</mat-error>
        </mat-form-field>
      </div>
      <div class="textForm">
        <mat-form-field class="inputFormAdd">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Description" [value]="data.description" [formControl]="descriptionControl"></textarea>
          <mat-error *ngIf="descriptionControl.hasError('required')">
            Description is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="textForm">
        <button class="btn btn-dark" (click)="btnCancel()" type="button">OK</button>
      </div>
    </form>
  </div>
</div>
