<app-nav-bar></app-nav-bar>
<div class="container text-center">
  <div style="font-weight: bold; font-size: 25px">{{title}}</div>
</div>
<div style="width: 80%; margin: 0 auto;padding-top: 50px">
  <div id="formAdd">
    <!--<p class="h4 mb-4">Add Employee Page</p>-->
    <form class="example-form" style="border: 0px solid black">
      <div class="textForm">
        <mat-form-field class="inputFormAdd">
          <mat-label>UserName</mat-label>
          <input type="text" matInput placeholder="UserName" [formControl]="UserNameControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="UserNameControl.hasError('required')">
            UserName is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="textForm">
        <mat-form-field class="inputFormAdd">
          <mat-label>FirstName</mat-label>
          <input type="text" matInput placeholder="FirstName" [formControl]="FirstNameControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="FirstNameControl.hasError('required')">
            FirstName is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="textForm">
        <mat-form-field class="inputFormAdd">
          <mat-label>LastName</mat-label>
          <input type="text" matInput placeholder="LastName" [formControl]="LastNameControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="LastNameControl.hasError('required')">
            LastName is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="textForm">
        <mat-form-field class="inputFormAdd">
          <mat-label>Email</mat-label>
          <input type="text" matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="textForm">
        <mat-form-field class="inputFormAdd">
          <mat-label>BirthDate</mat-label>
          <input matInput [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date" [formControl]="DOBFormControl">
          <mat-error *ngIf="DOBFormControl.hasError('required')">
            BirthDate is <strong>required</strong>
          </mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="textForm">
        <mat-form-field>
          <mat-label>Basic Salary</mat-label>
          <input matInput currencyMask placeholder="contoh: 1.000.000" id="BasicSalary" maxlength="14" autocomplete="off" pattern="[0-9]*" digitOnly [formControl]="BasicSalaryFormControl">
          <span matPrefix>Rp&nbsp;</span>
          <mat-error *ngIf="BasicSalaryFormControl.hasError('required')">
            Basic Salary is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="textForm">
        <mat-form-field class="inputFormAdd">
          <mat-label>Status</mat-label>
          <input type="text" matInput placeholder="Email" [formControl]="StatusControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="StatusControl.hasError('required')">
            Status is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="textForm">
        <mat-form-field>
          <mat-label>Group</mat-label>
          <mat-select [formControl]="groupControl">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let item of groupData" [value]="item">
              {{item.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="groupControl.hasError('required')">Please choose an group</mat-error>
        </mat-form-field>
      </div>
      <div class="textForm">
        <mat-form-field class="inputFormAdd">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Description" [formControl]="descriptionControl"></textarea>
          <mat-error *ngIf="descriptionControl.hasError('required')">
            Description is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="textForm">
        <button class="btn btn-info" type="submit" (click)="submitData()">Save</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
