<app-nav-bar></app-nav-bar>
<div class="container text-center">
  <div style="font-weight: bold; font-size: 25px">{{title}}</div>
</div>

<div style="width: 90%;margin: 0 auto">
  <div style="width: 80%; margin: 0 auto">
    <form style="padding: 10px" class="date-block" [formGroup]="filterForm">
      <table style="width: 50%">
        <tr>
          <td style="width: 50px">
            <mat-form-field class="filter" floatLabel="never" fxFlex="20%">
              <input matInput type="text" formControlName="firstName" placeholder="Search FirstName">
            </mat-form-field>
          </td>
          <td style="width: 10px; text-align: center">And</td>
          <td style="width: 50px">
            <mat-form-field class="filter" floatLabel="never" fxFlex="20%">
              <input matInput type="text" formControlName="lastName" placeholder="Search LastName">
            </mat-form-field>
          </td>
        </tr>
      </table>
      <div>
        <!--<div class="inputForm">-->
        <!--<mat-form-field class="filter" floatLabel="never" fxFlex="20%">-->
        <!--<input matInput type="text" formControlName="firstName" placeholder="Search FirstName">-->
        <!--</mat-form-field>-->
        <!--</div>-->
        <!--<div class="inputForm">-->
        <!--<mat-form-field class="filter" floatLabel="never" fxFlex="20%">-->
        <!--<input matInput type="text" formControlName="lastName" placeholder="Search LastName">-->
        <!--</mat-form-field>-->
        <!--</div>-->
      </div>
    </form>
    <div style="padding: 10px">
      <button type="button" class="btn-primary" (click)="formAdd()">+ Add</button>
    </div>
    <table mat-table [dataSource]="dataSource" matSort style="border: 1px solid blanchedalmond;">
      <ng-container matColumnDef="username">
        <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header>
          username
        </th>
        <td mat-cell *matCellDef="let element">{{element.username}}</td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header>
          firstName
        </th>
        <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header>
          lastName
        </th>
        <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header>
          Email
        </th>
        <td mat-cell *matCellDef="let element">{{element.email}}</td>
      </ng-container>

      <ng-container matColumnDef="birthDate">
        <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header>
          birthDate
        </th>
        <td mat-cell *matCellDef="let element">{{element.birthDate}}</td>
      </ng-container>

      <ng-container matColumnDef="group">
        <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header>
          group
        </th>
        <td mat-cell *matCellDef="let element">{{element.group}}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header>
          Action
        </th>
        <td mat-cell *matCellDef="let element">
          <button type="button" class="btn btn-warning">Edit</button>&nbsp;
          <button type="button" class="btn btn-danger">Delete</button>&nbsp;
          <p *ngIf="showMyMessage">hello there</p>
          <button type="button" class="btn btn-success" (click)="detailEmployee(element)">Detail</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
    </table>
    <mat-paginator fixed showFirstLastButtons [pageSize]="5" [pageSizeOptions]="[10, 50, 100, 500, 1000]">
    </mat-paginator>
  </div>
</div>
