<div class="container text-center">
  <h1>{{title}}</h1>
</div>
<div style="width: 80%; margin: 0 auto;padding-top: 50px">
  <div style="padding: 20px 0px 20px 0px">
    <button class="btn btn-danger" (click)="logout()">Logout</button>
  </div>
  <div id="listData">
    <div class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching">
    </div>
    <div>
      <button type="button" class="btn btn-primary" (click)="formAdd()">Add</button>
    </div>
    <div style="padding: 10px">
      <div id="NotifDelete" style="display: none">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Hapus DATA!</strong> ini Notifikasi untuk kamu Hapus Data.
          <button type="button" (click)="closeNotif()" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
        <thead>
        <tr>
          <th>
            <mfDefaultSorter by="UserName">UserName</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="firstName">firstName</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="lastName">lastName</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="email">email</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter>Action</mfDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of mf.data | filter:searchText">
          <td>{{user.username}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>
            <button type="button" class="btn btn-warning" (click)="formUpdate(user)">Edit</button>&nbsp;
            <button type="button" class="btn btn-danger" (click)="DeleteData()">Delete</button> &nbsp;
            <button type="button" class="btn btn-success" (click)="DetailData(user)">Detail</button>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,100]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div id="formAdd" style="display: none;">
    <p class="h4 mb-4">Add Employee Page</p>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="text-center border border-light p-5">
      <div class="textForm">
        <label style="text-align: left">UserName</label>
        <input type="text" formControlName="username" id="defaultContactUsername" class="form-control mb-4" placeholder="Username">
      </div>
      <div class="textForm">
        <label>FirstName</label>
        <input type="text" formControlName="firstname" id="defaultContactFirstName" class="form-control mb-4" placeholder="FirstName">
      </div>
      <div class="textForm">
        <label>LastName</label>
        <input type="text" formControlName="lastname" id="defaultContactLastName" class="form-control mb-4" placeholder="LastName">
      </div>
      <div class="textForm">
        <label>Email</label>
        <input type="email" formControlName="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">
      </div>
      <div class="textForm">
        <label>BirthDate</label>
        <mat-form-field>
          <input style="width: 30%" matInput [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <!--<input class="form-control" type="date" [maxDate]="maxDateItem">-->
        <!--<input type="date" formControlName="birthdate" id="BirthDate" class="form-control mb-4" placeholder="BirthDate">-->
      </div>
      <div class="textForm">
        <label>basicSalary</label>
        <input type="text" formControlName="basicsalary" id="basicSalary" class="form-control mb-4" placeholder="basicSalary">
      </div>
      <div class="textForm">
        <label>status</label>
        <input type="text" formControlName="status" id="status" class="form-control mb-4" placeholder="status">
      </div>
      <div class="textForm">
        <label>group</label>
        <ng-select [items]="groupData"
                   [virtualScroll]="true"
                   bindLabel="name"
                   bindValue="id"
                   formControlName="group"
                   placeholder="Select Group"
                   [(ngModel)]="selectedId">
        </ng-select>
      </div>
      <div class="textForm">
        <label>Description</label>
        <input type="date" formControlName="description" id="description" class="form-control mb-4" placeholder="description">
      </div>
      <div class="textForm">
        <button class="btn btn-info" [disabled]="formGroup.invalid" type="submit">Save</button>
        <button class="btn btn-default" (click)="cancelForm()" type="button">Cancel</button>
      </div>
    </form>
  </div>
  <div id="DetailData" style="display: none;">
      <p class="h4 mb-4">Employee Detail Page</p>
      <label>UserName</label>
      <input type="text" #Viewusername class="form-control mb-4">
      <label>FirstName</label>
      <input type="text" #ViewfirstName class="form-control mb-4">
      <label>LastName</label>
      <input type="text" #ViewlastName class="form-control mb-4">
      <label>Email</label>
      <input type="email" #Viewemail class="form-control mb-4">
      <label>BirthDate</label>
      <input type="date" #ViewbirthDate class="form-control mb-4">
      <label>basicSalary</label>
      <input type="text" #ViewbasicSalary class="form-control mb-4">
      <label>status</label>
      <input type="text" #Viewstatus class="form-control mb-4">
      <label>group</label>
      <input type="text" #Viewgroup class="form-control mb-4">
      <label>Description</label>
      <input type="date" #Viewdescription class="form-control mb-4">
      <button class="btn btn-success" (click)="cancelForm()" type="button">OK</button>
  </div>
  <div id="formUpdate" style="display: none;">
    <p class="h4 mb-4">Employee Detail Page</p>
    <label>UserName</label>
    <input type="text" #Updusername class="form-control mb-4">
    <label>FirstName</label>
    <input type="text" #UpdfirstName class="form-control mb-4">
    <label>LastName</label>
    <input type="text" #UpdlastName class="form-control mb-4">
    <label>Email</label>
    <input type="email" #Updemail class="form-control mb-4">
    <label>BirthDate</label>
    <input type="date" #UpdbirthDate class="form-control mb-4">
    <label>basicSalary</label>
    <input type="text" #UpdbasicSalary class="form-control mb-4">
    <label>status</label>
    <input type="text" #Updstatus class="form-control mb-4">
    <label>group</label>
    <!--<ng-select [items]="groupData"-->
               <!--[virtualScroll]="true"-->
               <!--bindLabel="name"-->
               <!--bindValue="id"-->
               <!--placeholder="Select Group"-->
               <!--[(ngModel)]="selectedId">-->
    <!--</ng-select>-->
    <input type="text" #Updgroup class="form-control mb-4">
    <label>Description</label>
    <input type="date" #Upddescription class="form-control mb-4">
    <button class="btn btn-success" (click)="cancelForm()" type="button">OK</button>
  </div>
</div>
