<div class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>
  <div style="text-align: right; color: #FFFFFF">
    <div class="media align-items-center">
    <span class="avatar avatar-sm rounded-circle">
    <img alt="Image placeholder" src="https://66.media.tumblr.com/ae5a0f908843eb40c59f4df7b2c15e48/tumblr_p0cfpdmcC11sqhy0go1_500.jpg">
    </span>
      <div class="media-body ml-2 d-none d-lg-block" style="padding-right: 10px">
        <span class="mb-0 text-sm  font-weight-bold">{{userName}}</span>
      </div>
      <button class="btn btn-danger" (click)="logout()">Logout</button>
    </div>
  </div>
</div>
